:root {
  --red: #ff3c3c;
  --black: #121212;
  --primary: #4e71ff;
  --secondary: #8dd8ff;
  --shine: #bbfbff;
  --deep: #5409da;
  --gray800: #2c2f3a;
  --gray700: #343a40;
  --gray600: #575e75;
  --gray500: #6b7280;
  --shadow1: 0px 1px 16px 0px rgba(62, 62, 62, 0.16);
  --warn: #ff3a39;
}
